body {
  width: 100%;
  font-family: sans-serif;
  color: #888888;
  margin: 0;
}

.main {
  margin: 0 14%;
}

.headerBg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 399px;
  background: linear-gradient(#707070, #707070);
  transform: skewY(4deg);
  transform-origin: bottom right;
  z-index: -1;
}

header {
  width: 100%;
  height: 399px;
  text-align: center;
}

.headerTitleBox {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.headerDescription {
  font-size: 14px;
  padding-top: 24px;
  margin: 0;
}

#subTitle {
  padding-top: 69px;
  font-size: 20px;
  line-height: 24px;

  opacity: 1;
}

h1 {
  margin: 0;
  font-size: 40px;
  line-height: 49px;

  opacity: 1;
}

.siteNav {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.siteNavBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.siteNavBtns {
  margin: 0 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  min-width: 160px;
  min-height: 40px;
  color: #888888;
}

.newsLetter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.text1 {
  width: 58%;
  text-align: left;
  padding-right: 60px;
  font-size: 12px;
}

.text1 .newsLetterTitle {
  font-size: 20px;
  font-weight: normal;
}

.text1 .newsLetterDesc {
  text-align: left;
  font: normal normal normal 12px/18px Sans-Serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.form {
  font-size: 12px;
  margin-top: 30px;
  width: 35%;
}

.inputTextBox {
  padding-bottom: 20px;
  margin: 0 20px;
}
.inputLabel {
  display: block;
  margin-bottom: 7px;
  text-align: left;
}

.inputText {
  padding: 0;
  margin: 0 0;
  width: 100%;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.genreBox {
  display: flex;
  padding-left: 20px;
}
.genre {
  padding-right: 40px;
}

input[type="radio"] {
  margin: 0;
}

.submitNewsBox {
  padding: 20px 20px 0;
}

.submitNewsBtn {
  width: 100%;
  height: 39px;
  color: #888888;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
}

.titleBox {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 79px;
}

.productNav {
  padding-top: 30px;
  text-align: center;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-bottom: 50px;
}

.cardDescBox {
  font-size: 12px;
  text-align: left;
}
.line {
  width: 38%;
  height: 1px;
  background: #888888;
}

.card {
  width: 21%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productTitle {
  font: normal normal normal 14px/16px sans-serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  padding-top: 10px;
}

.productDesc {
  padding-top: 10px;
  text-align: left;
  font: normal normal normal 12px/16px sans-serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.oldPrice {
  padding-top: 10px;
  text-align: left;
  font: normal normal normal 12px/16px sans-serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.price {
  padding-top: 5px;
  text-align: left;
  font: normal normal bold 16px/16px sans-serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.installment {
  padding-top: 5px;
  text-align: left;
  font: normal normal normal 12px/16px sans-serif;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  padding-bottom: 10px;
}

.buyBtn {
  
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  height: 30px;
  width: 100%;
}

.lineTitle {
  font-size: 18px;

  text-align: center;
  margin: 0 5px;
}

.shareNewsForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 12px;
  margin-top: 44px;
}

.shareNewsDescription {
  padding-top: 54px;
  text-align: center;
  margin: 0;
  font-size: 14px;
}
.shareNewsInput {
  width: 340px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  max-width: 380px;
}

.sendBtnBox {
  padding: 50px;
  text-align: center;
}

.btn {
  width: 260px;
  height: 39px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #888888;
}

.footerBg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 399px;
  background: linear-gradient(#707070, #707070);
  transform: skewY(-4deg);
  transform-origin: bottom right;
  z-index: -1;
}

.footer {
  width: 100%;
  height: 290px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.footerBox {
  padding-top: 157px;
  font-size: 12px;
}

.footerDesc {
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 420px) {
  .main {
    margin: 0 4%;
  }
  #siteNav {
    margin-left: 9.52%;
    margin-right: 9.52%;
  }

  #newsLetter {
    margin-left: 3.8%;
    max-width: 386px;
  }

  .text1 {
    padding-right: 0;
    width: 100%;
  }

  .form {
    width: 100%;
  }
  .inputTextBox {
    margin: 0;
  }

  .submitNewsBox {
    padding-left: 0;
    padding-right: 0;
  }

  .headerTitleBox {
    padding: 0 4%;
    text-align: left;
  }

  .headerDescription {
    padding-top: 5px;
  }

  .headerBg {
    transform: skewY(16deg);
  }
  .siteNavBtns {
    margin: 0 10px;
    margin-bottom: 20px;
  }

  .genreBox {
    padding-left: 0;
  }

  .line {
    width: 22%;
  }

  .shareNewsForm {
    display: block;
  }
  .shareNewsInput {
    width: 100%;
  }

  .shareNewsDescription {
    padding-top: 28px;
  }

  .footer {
    height: 157px;
  }

  .footerBox {
    padding-top: 59px;
  }

  .productNav{
    padding-top: 15px;
  }

  .productGrid {
    display: block;
  }

  .card {
    flex-direction: row;
    justify-content: normal;
    width: 100%;
    height: 0%;
    margin-bottom: 20px;
  }
  .imgBox{
    width: 50%;

  }

  .cardDescBox{
    width: 50%;
  }



  .productDesc {
    display: none;
  }
}
